a{
	color:red;	/* <!-- Селекторы по имени тега --> */
	font-size:13px;
}
/* <!-- Селекторы по имени тега div --> */
div{
	/* color:red; */
	/* color:#19C2FA; */
	/* color:rgb(255,20,200); */
	color:rgba(0,255,0,0.5); /* Если нужно задать прозрачность  (последнее число) */
	
}
/* <!-- СЕЛЕКТОРЫ ПО ИДЕНТИФИКАТОРУ --> */
#my_ssilka{
		color:lime;
	
}

#testovaya_ssilka{
		font-size:20px;/* ИЗМЕНИТЬ РАЗМЕР ШРИФТА 16-стандартный размер */
		color:purple;
	}
/* <!-- КЛАССЫ --> */
.human{
		
		color:#1B13F2;/* <!-- синий --> */
	
}

.animal{
				color:#52E807;/* <!-- зеленый --> */
	}
	
	.lion{
				color:#F7B90C;/* <!-- желтый --> */
	}
	
	.monkey{
				color:#B35B0E;/* <!-- коричневый --> */
	}
	.fish{
				color:#A3B2D4;/* <!-- голубой --> */
	}
	
	/* <!-- БОЕВОЙ ПРИМЕР ПРИМЕНЕНИЯ КЛАССОВ --> */
	
	.message{
		color:#898E91;/* <!-- фон элемента , темно-серый--> */
		background-color:#C7CDD1;/* <!-- фон элемента , светло-серый--> */
		border: 1px /* dashed */ solid #06080A;/* <!--ширина рамки , тип рамки (solid-сплошная, dashed-пунктирная цвет рамки,  светло-серый--> */
		font-size: 22px;/* ИЗМЕНИТЬ РАЗМЕР ШРИФТА 16-стандартный размер */
		margin: 10px; /* отталкивание от краев рамки со всех сторон */
		margin-bottom: 10px;/* отталкивание от краев рамки снизу */
		margin-top: 10px;/* отталкивание от краев рамки  сверху*/ 
		margin-left: 50px;/* отталкивание от краев рамки  слева*/
		margin-right: 50px;/* отталкивание от краев рамки  слева*/
		padding: 15px;/* отталкивание от краев рамки ИЗНУТРИ  */
		
	}
	
	.success{
		color:#F8FCF7;/* <!-- цвет текста , белый--> */
		background-color:#31E012;/* <!-- фон элемента , светло-серый--> */
		
	}
	
	.fail{
		color:#F8FCF7;/* <!-- цвет текста , белый--> */
		background-color:#E60939;/* <!-- фон элемента , светло-серый--> */
		
	}
	
	.info{
		color:#F8FCF7;/* <!-- цвет текста , белый--> */
		background-color:#090DE6;/* <!-- фон элемента , светло-серый--> */
		
	}
	.warning{
		color:#080807;/* <!-- цвет текста , черный--> */
		background-color:#E8E661;/* <!-- фон элемента , желтый--> */
		
	}
	
	/* <!-- СОБЫТИЙНЫЙ СЕЛЕКТОР если мышь наведена на какой либо элемент --> */
	.message:hover{		/* hover -основной событийный селектор */
		border: 10px /* dashed */ solid #323232;/* <!--ширина рамки , тип рамки (solid-сплошная, dashed-пунктирная цвет рамки,  светло-серый--> */
		}
		/* <!-- СОБЫТИЙНЫЙ СЕЛЕКТОР для ссылки --> */
	#testovaya_ssilka:hover{
		border: 1px /* dashed */ solid #323232;/* <!--ширина рамки , тип рамки (solid-сплошная, dashed-пунктирная цвет рамки,  светло-серый--> */
		color:#898E91;/* <!-- фон элемента , темно-серый--> */
		background-color:#C7CDD1;/* <!-- фон элемента , светло-серый--> */
	}
	
	/* <!-- СОБЫТИЙНЫЙ СЕЛЕКТОР для всех ДИВов --> */
	div:hover{		
		border: 10px /* dashed */ solid #323232;/* <!--ширина рамки , тип рамки (solid-сплошная, dashed-пунктирная цвет рамки,  светло-серый--> */
		}
	
	/* <!-- НОВОЕ БОЕВОЕ ПРИМЕНЕНИЕ С ФОНОМ ИЗ КАРТИНКИ --> */
	body{
		background-image:url(images/1.jpg);
		
	}
	#test{
		transform:rotate(35deg)scale(1.0);/* <Поворот элемента (deg - если в градусах); scale(_._) изменение размера элемента в кратности*/
		transition: 1.0s all; /* Время трансформации до заданного изменения при наведении мыши*/
			/* можно задавать элементы трансформации отдельно */
		
		color:#ffffff;/* <!-- фон элемента , белый--> */
		background-color:#13EB3A;/* <!-- фон элемента , зеленый--> */
		border: 7px /* dashed */ solid #06080A;/* <!--ширина рамки , тип рамки (solid-сплошная, dashed-пунктирная цвет рамки,  светло-серый--> */
		margin: 15px; /* отталкивание от краев рамки со всех сторон */
		padding: 15px;/* отталкивание от краев рамки ИЗНУТРИ  */
		border-radius:40px; /* закругление краев рамки   */
		opacity:0.7; /* прозрачность элемента  */
		box-shadow:33px -33px 17px #CF3C4B; /* рисование тени сдвиг по оси Х(направо-лево), оси У, ширина(размытие) , цвет   */
		width:50%;	/* размер элемента в процентах  к экрану */
		height:50px;	/* размер элемента по высоте   */
		display:block;/* указываем виден элемент или нет   */
		text-align:center;/* где будет размещаться текст (right)  */
		font-size: 30px;/* ИЗМЕНИТЬ РАЗМЕР ШРИФТА 16-стандартный размер */
		font-weight: 800px;/* ИЗМЕНИТЬ ТОЛЩИНУ ШРИФТА 900- МАКС размер */
			}
			
			#test:hover{/* становится виден после наведения мыши  */
		
		opacity:0.9; /* прозрачность элемента  */
		transform:rotate(180deg)scale(1.0);/* <Поворот элемента (deg - если в градусах); scale(_._) изменение размера элемента в кратности*/
		background-color:#ED1127;/* <!-- фон элемента , зеленый--> */
			}